@use "./vars";

.Container404 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 250px 0;
}
.error404 {
    font-size: var(--lg);
}
.button-home {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--black);
    width: 35%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }